## Assignment 3, 22-Queen Problem

Your homework must be implemented in this Notebook file. 
You can add as many cells as you want. However, you are not allowed to touch the code below the line "=============".

In [ ]:
n=22

You can insert as many cells as you want above.
You are not Allowed to modify the code below this line.
# ===============================

In [ ]:
#you need to implement print_result function to print out the result according to the required format
print_result(result)


The output format should be as follows. You only need to give 4 solutions in the following format.
Example Output for 4-queens Problem. Each pair of values represents the position of a queen (row, column)

(0,1) (1,3) (2,0) (3,2)

(0,2) (1,0) (2,3) (3,1)